#contenido {
    height: 200px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#info {
    height: 200px;
    width: 400px;
}

.lista {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}